*.csv
*.pdf
*.txt
*.docx
*.db
*.env
.vscode
__pycache__/
pandasai-venv
*.png
*.streamlit
venv/
cache
.venv/
exports
gradio
*.json
*.xlsx
*.log
*.jsonl
llm-venv/
env/
Pandas Basic Cheatsheet/
slack-venv/
Enqurious_related_chatbot/
Gemini credentials/
Enqurious Portal Experiments/
Fine tuning/